
/*#imageResults{
  width: 1200px;
  height: 450px;
  margin:  auto;
  background: grey;
  float: none;
}*/

#imageResults{
  height: 500px;
  width: 100%;
  margin: auto;
  background: #92a8d1;
}

.image{
  width: 100%;
  margin: auto;
}

#pic{
  height: 300px;
  width: 200px;
  margin: 5px;
  border: 10px solid blue;
  float: left;
}
